* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lora', serif;
}
.navbar {
    background-color: grey;
}
.navbar .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}
.navbar .navbar-collapse .navbar-nav .nav-item a {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    text-align: center;
    padding: 0.8rem;
}
.container h1 {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
}
.container .row .col-sm-12 p {
    background-color: grey;
    padding: 45px 10px 20px 10px;
    position: relative;
    font-size: 16px;
    border: 2px solid #000;
}
small {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 18px;
    border: 1px solid #000;
    font-size: 22px;
}
.title1 {
    background-color: rgb(199, 16, 10);
}
.title2 {
    background-color: rgb(199, 10, 199);
}
.title3 {
    background-color: rgba(17, 235, 235);
}